<% provide(:title, t('.title')) %>
<h1><%= t '.title'%></h1>

<div class="row">
  <div class="span6 offset3">
	<%= form_tag(sessions_path, method: "post") do %>
		<%= label_tag(:email, t('activerecord.attributes.user.email')) %>
		<%= text_field_tag(:email) %>
		
		<%= label_tag(:password, t('activerecord.attributes.user.password')) %>
		<%= password_field_tag(:password) %>
		
		<%= submit_tag(t('.signin'), class: "btn btn-large btn-primary") %>
	<% end %>
    <p><%= t'.newuser' %> <%= link_to t('.signup'), signup_path %></p>
  </div>
</div>